/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
h1,
h2,
h3 {
	margin: 0;
	padding: 0; }

html {
	box-sizing: border-box; 
	background-color: #EFF0EB;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%; }

*, *::before, *::after {
	box-sizing: inherit; }

body {
	color: #545547;
	font-size: 1em;
	line-height: 1.5;
	padding: 30px;
	font-family: 'Arial', sans-serif; }

h1,
h2,
h3 {
	color: #363636;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	line-height: 1.125; }

h1 {
	margin: 5px 0 0; }

h2 {
	font-size: 2rem; }

h3 {
	font-size: 1.6rem; }

kbd {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.1em 0.5em;
	margin: 0 0.2em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
	background-color: #f7f7f7; }
		
ol {
	margin-left: 40px;
	margin-bottom: 20px;
}

.windows_key {
	height: 17px;
}

section {
	display: block; }

a {
	color: #46a1b6;
	cursor: pointer;
	text-decoration: none; }
	a strong {
		color: currentColor; }
	a:hover {
		color: #363636; }

img {
	height: auto;
	max-width: 100%; }

.center {
	display: flex;
	justify-content: center;
}

.container {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto; }
	.container.is-fluid {
		max-width: none;
		padding-left: 32px;
		padding-right: 32px;
		width: 100%; }
	@media screen and (min-width: 1024px) {
		.container {
			max-width: 960px; } }

.subtitle {
	color: #545547;
	font-size: 1.5rem;
	margin-top: 12px;
	line-height: 1.25; }

.explanation {
	margin-top: -0.75rem;
	margin-bottom: 1.5rem; }

.small_print {
	margin-top: 1rem;
	font-size: 14px; }

.box {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
	color: #545547;
	padding: 1.25rem; 
	margin-bottom: 3rem; }

p, .bottom-margin {
	margin-bottom: 2rem; }

.hero {
	margin: 2rem 0 0 0;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between; }

.horizontal-flow > div {
	display: inline-block; }

.hero-text {
	vertical-align: top;
	margin-left: 1rem;
}
.hero-text > div {
	display: flex;
	align-items: center;
	height: 128px;
}
.hero-text > div > h1 {
	margin: 0; }

.row::after {
	content: "";
	clear: both;
	display: table;
}
.row > p {
	float: left;
	width: 50%;
	padding-right: 15px;
}
.row > a {
	display: block;
	position: relative;
	float: right;
	width: 50%;
}
.row > a:hover > button::after {
	border-left-color:#1d62c9;
}
.row > a > button {
	cursor: pointer;
	position: absolute;
	transition: background-color .5s ease;
	top: calc(50% - 15%);
	left: calc(44%);
	right: 0;
	width: 5vw;
	height: min(6vw, 68px);
	border-radius: 25%;
	padding: min(1vw,12px) min(7px, max(0.2vw, 10px)) 1vw 1vw;
	border: 1px solid #a8cf42;
	color: #a8cf42;
	background-color: rgba(168,207,66,.3);
}
.row > a > button::after {
	border-color: transparent transparent transparent black;
	border-width: min(2vw, 22px) 0 min(2vw, 22px) min(3.2vw, 36px);
	transition: border-left-color .5s ease;
	content: "";
	display: inline-block;
	position: relative;
	border-style: solid;
}
time {
	position: absolute;
	right: 12px;
	bottom: 12px;
	color: white;
	font-weight: 600;
	font-size: max(min(20px, 3vw), 15px);
	display: block;
}
footer {
	text-align: center;
	padding: 3rem 1.5rem 6rem; }
